<h1>Address Page!</h1>

<table>
  <thead>
    <td>Genre</td>
    <td>Name</td>
    <td>Address</td>
    <td>Phone Number</td>
    <td>Remark</td>
    <td>Default?</td>

  </thead>

</table>

<%= link_to 'Homepage', home_index_path %>
<%= link_to 'Add Address', new_user_address_path %>